<div class="row">
  <h2>Experiencia Laboral</h2>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h4>Trabajo 1</h4>
        -
        <h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa animi
        illo quaerat consequuntur ipsam voluptas quidem neque rerum unde! Et
        doloremque voluptatum alias quisquam inventore animi sapiente itaque, d
      </p>
    </ul>
    <ul>
      <li>
        <h4>Trabajo 2</h4>
        -
        <h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa animi
        illo quaerat consequuntur ipsam voluptas quidem neque rerum unde! Et
        doloremque voluptatum alias quisquam inventore animi sapiente itaque, d
      </p>
    </ul>
    <ul>
      <li>
        <h4>Trabajo 3</h4>
        -
        <h5>(years)</h5>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa animi
        illo quaerat consequuntur ipsam voluptas quidem neque rerum unde! Et
        doloremque voluptatum alias quisquam inventore animi sapiente itaque, d
      </p>
    </ul>
  </div>
</div>
