<div class="row">
  <h2>Hard ans Soft Skills</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4 small-circle">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showImage]="true"
      [imageSrc]="'../assets/html.png'"
      [imageHeight]="60"
      [imageWidth]="60"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4 small-circle">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showImage]="true"
      [imageSrc]="'../assets/CSS.png'"
      [imageHeight]="60"
      [imageWidth]="60"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showImage]="true"
      [imageSrc]="'../assets/js.png'"
      [imageHeight]="60"
      [imageWidth]="60"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showImage]="true"
      [imageSrc]="'../assets/gitng.png'"
      [imageHeight]="60"
      [imageWidth]="60"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showImage]="true"
      [imageSrc]="'../assets/eng.png'"
      [imageHeight]="60"
      [imageWidth]="60"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showImage]="true"
      [imageSrc]="'../assets/grupal.png'"
      [imageHeight]="60"
      [imageWidth]="60"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
</div>
