<div class="row">
  <h2>Proyectos realizados</h2>
  <div class="container">
    <div class="col-sm-12 col-md-7 col-lg-7 first-part">
      <h4>Proyecto 1</h4>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur et,
        maxime harum cum sed, voluptatem consectetur unde impedit omnis a autem
        ipsum quibusdam repudiandae perferendis, temporibus laboriosam expedita!
        Nisi, dicta!
      </p>
    </div>
    <div
      class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 second-part"
    >
      <img
        src="../../../assets/ARProgramaLogo2.png"
        class="img-fluid img-proyecto"
      />
      <!-- Aca va imagen de portada del proyecto 1 -->
    </div>
  </div>
</div>
