<div class="row fondo">
  <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/IO.jpg"
      class="img-fluid"
      alt="Foto de Maria Corradi"
      id="fotodeperfil"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h3>María Corradi</h3>
    <h5>Full Stack Developer Jr</h5>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Acerca de mí</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid atque
        quis mollitia nam placeat consectetur quaerat rem nostrum quam
        veritatis, minus harum vel ipsa. Facilis voluptatibus magnam tenetur
        omnis velit?
      </p></span
    >
  </div>
</div>
